version: '3.8'

services:
  traefik:
    image: traefik:v3.4
    deploy:
      replicas: 1
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
      placement:
        constraints:
          - node.role == manager
    networks:
      - traefik_public
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik-config:/etc/traefik
      - traefik-certs:/etc/traefik/certs
      - traefik-acme:/etc/traefik/acme.json
    configs:
      - source: traefik_toml
        target: /etc/traefik/traefik.toml
      - source: traefik_dynamic_toml
        target: /etc/traefik/traefik_dynamic.toml
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  traefik_public:
    external: true

volumes:
  traefik-config:
  traefik-certs:
  traefik-acme:

configs:
  traefik_toml:
    file: ./traefik/traefik.toml
  traefik_dynamic_toml:
    file: ./traefik/traefik_dynamic.toml
